/*
* Alyssa Goodwin
* March 28, 2018
* CSS Project 
*/


/* The universal selector */

* {

}

/* Put body attributes here */

body { 
background-color: HotPink;
color: white;
font-family: Arial, Helvetica, Sans-Serif;  
}

h1 { 
font-size: 30pt;
text-decoration:underline;
text-align: center;
}

figure { 
float: left; 
}


