/*
* Alyssa Goodwin
* March 28, 2018
* CSS Project 
*/


/* The universal selector */

* {

}

/* Put body attributes here */

body { 
background-color: PaleVioletRed;
color: white;
font-family: Arial, Helvetica, Sans-Serif;  
}

h1 { 
color: Teal;
font-size: 42pt;
text-align: center;
background-color: white;}

img  { float: left; }

p {  background-color: Teal;}




